{% extends 'base.html' %}

{% block content %}
<div class="artist-list-container">
  <a href="{% url 'artist:artist-add' %}" class="btn">아티스트 추가</a>
  <a href="{% url 'artist:artist-search-from-melon' %}" class="btn">아티스트 검색</a>
  <ul>
    {% for artist in artists %}
    <li class="clearfix">
      <a href="">
        <img src="{% if artist.img_profile %}{{ artist.img_profile.url }}{% endif %}" alt="" class="cover">
        <div class="artist-info">
          <div class="name">{{ artist.name }}</div>
          <div>{{ artist.nationality }}</div>
          <div>{{ artist.birth_date }}</div>
          <div>{{ artist.constellation }}</div>
          <div>{{ artist.blood_type }}</div>
        </div>
      </a>

      <!--<div class="container">-->
        <!--<form action="" method="post">-->
          <!--{% csrf_token%}-->
          <!--<input type="hidden" >-->
          <!--<button type="submit">수정하기</button>-->
        <!--</form>-->
      <!--</div>-->
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
