{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h3>artist 수정</h3>
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in artist_form %}
    <div>
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {{ field }}
      {% if field.errors %}
      <ul>
        {% for error in field.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">추가</button>
  </form>
</div>

{% endblock %}
