{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h3><a href="{% url 'song:song-search' %}">노래 검색</a></h3>
  <form action="" method="get">
    <!--{% csrf_token %}-->

    <div class="input-group mb-3">
      <input type="text"
             class="form-control"
             placeholder="search for..."
             aria-label="Recipient's username"
             aria-describedby="basic-addon2"
             id="keyword"
             name="keyword"
             value="{{ keyword }}">
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit">검색</button>
      </div>
    </div>
  </form>
</div>
<div class="container">

  {% include "../include/song_search_result.html" with type="곡" result=songs_from_title only %}
  {% include "../include/song_search_result.html" with type="앨범" result=songs_from_albums only %}
  {% include "../include/song_search_result.html" with type="아티스트" result=songs_from_artists only %}

</div>
{% endblock %}