{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h3><a href="{% url 'song:song-search' %}">노래 검색</a></h3>
  <form action="" method="get">
    <!--{% csrf_token %}-->

    <div class="input-group mb-3">
      <input type="text"
             class="form-control"
             placeholder="search for..."
             aria-label="Recipient's username"
             aria-describedby="basic-addon2"
             id="keyword"
             name="keyword"
             value="{{ request.GET.keyword }}">
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit">검색</button>
      </div>
    </div>
  </form>
</div>
<div class="container">

  {% for song_info in song_infos %}
    {% include 'include/song_search_result.html' with type=song_info.type songs=song_info.songs only %}
  {% endfor %}

</div>
{% endblock %}