{% extends 'base.html' %}
{% load song_extras %}

{% block content %}
<div class="artist-list-container">
  <div class="artist-sub-menu">
    <a href="{% url 'song:song-search-from-melon' %}" class="btn">노래 검색하기</a>
  </div>

  <ul>
    {% for song in song_list %}
    <li class="clearfix">
      <a href="">
        <img src="{{ song.album.img_cover.url}}" class="cover" alt="">
      </a>
      <div class="artist-info">
        <div class="name">{{ song.title }}</div>
        <div class="artist">{{ song.artists.all|join:", " }}</div>
        <div>앨범명: {{ song.album}}</div>
        <div>장르: {{ song.genre }}</div>
         <div>{{ song.lyrics|ellipsis_line:4|linebreaksbr }}</div>

        {% if request.user.is_authenticated %}
        <form action="{% url 'song:song-like-toggle' song_pk=song.id %}" method="post">
          {% csrf_token %}
          {% if request.user in song.like_users.all %}
          <button type="submit">좋아요 취소</button>
          {% else %}
          <button type="submit">좋아요</button>
          {% endif %}
        </form>
        {% endif %}
      </div>

    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
