.artist-list-container > div.artist-sub-menu {
  margin: 10px 0px;
  padding: 0px 15px;
}

.artist-list-container > div.artist-sub-menu > a.btn {
  font-size: 14px;
  font-weight: bold;
  padding: 12px 20px;
}

.artist-list-container > ul > li {
  float: left;
  width: 50%;
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
  padding: 15px;
  height: 190px;
}

.artist-list-container > ul > li > a {
  display: inline-block;
  color: #333;
  float: left;
}

.artist-list-container > ul > li > a > img.cover {
  float: left;
  width: 160px;
  height: 160px;
  border: 1px solid #ddd;
}

.artist-list-container > ul > li > .artist-info {
  float: left;
  padding-left: 10px;
}

.artist-list-container > ul > li > .artist-info > .name {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 4px;
}
