{% extends 'base.html' %}

{% block content %}
<div class="login-container">
  <form action="" method="post">
    {% csrf_token %}
    <input type="text" name="username">
    <input type="password" name="password">
    <button type="submit">로그인</button>
  </form>
  {% if error_message %}
  <h4>{{ error_message }}</h4>
  {% endif %}

  <a href="https://www.facebook.com/v2.12/dialog/oauth?client_id=1317679271677458&redirect_uri=http://localhost:8000/facebook-login/" class="btn-facebook">facebook login</a>
</div>
{% endblock %}