.artist-detail-container {
  > ul {
    > li {
      float: left;
      width: 100%;
      box-sizing: border-box;
      padding: 15px;
      height: 190px;

      > a {
        display: inline-block;
        color: #333;
        float: left;

        > img.cover {
          float: left;
          width: 160px;
          height: 160px;
          border: 1px solid #ddd;
        }
      }

      > .artist-info {
        float: left;
        padding-left: 10px;

        > .name {
          font-weight: bold;
          font-size: 1.2rem;
          margin-bottom: 4px;
        }
      }
    }
  }
}
